html{
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
}
*{
  margin: 0;
  padding: 0;
}
.flexCol{
  display: flex;
  flex-direction: column;

}

.flexRol{
  display: flex;
  flex-direction: row;

}

.center{
  justify-content: center;
  align-items: center;
}