html{
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
}
*{
  margin: 0;
  padding: 0;
}
.flexCol{
  display: flex;
  flex-direction: column;

}

.flexRow{
  display: flex;
  flex-direction: row;

}
.flexRowToCol{
  display: flex;
  flex-direction: row;

}
.flexRowToColRevers{
  display: flex;
  flex-direction: row-reverse;
}
.flexRowRevers{
  display: flex;
  flex-direction: row-reverse;
}
.w100{
  width: 100%;
}
.w70{
  width: 70%;
}
.bet{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
@keyframes phoneAnimation {
  0%{
    background-image: url('./images/image3.jpeg');
}
19%{
    background-image: url('./images/image3.jpeg');

}
20%{
    background-image: url('./images/image4.jpeg');

}
39%{
    background-image: url('./images/image4.jpeg');

}
40%{
    background-image: url('./images/image5.jpeg');
}
59%{
    background-image: url('./images/image5.jpeg');

}
60%{
    background-image: url('./images/image6.jpeg');

}
79%{
    background-image: url('./images/image6.jpeg');

}
80%{
    background-image: url('./images/image7.jpeg');
}
99%{
    background-image: url('./images/image7.jpeg');

}
100%{
    background-image: url('./images/image8.jpeg');

}
}

.center{
  justify-content: center;
  align-items: center;
}

.img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}
.headernav{
  opacity: 0;
  display: none;
}
.cw{
  color: white;
}
.disnone{
  display: none;
  visibility: hidden;
}
.icon{
  border: 1px solid black;
  border-radius: 50%;

  width: 70px;
  height: 70px;
  text-align: center;
}
.w150{
  width: 60%;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .logoBig {
  max-width: 200px;
  overflow: hidden;
  max-height: 300px;

  }
  .disnone{
    display: flex;
    visibility: visible;
  }
  .headernav{
opacity: 1;
display: block;
color: rgb(255, 248, 210);
  }
  .flexRowToCol{
    flex-direction: column !important;
  }
  .openingImage{
    animation: phoneAnimation 40s infinite linear !important;
  }
  .w50{
    width: 100% !important;
    height: 50%;
  }
  .flexRowToColRevers{
    flex-direction: column !important;
  }
  .w70 {
    width: 95% !important;
  }
  .links{
    visibility: hidden;
    display: none;
  }
  .paregraph{
    width: 70% !important;
  }
  .squarsOpeningHeader{
    text-align: center;
  }
  .h80vh{
height: 90vh !important;
min-height: 80vh !important;
  }
  .img{
    height: 100%;
    width: 100%;
  }
  .ListOfWorks{
    margin-left: 10px;
    margin-right: 10px;
  }
}